<% include ../partials/header %>
        <div class="menu">
            <div class="menu__header" style="background-image: url('<%= item[0].Image %></div>');">
                <div class="menu__header__inner">
                    <div class="container">
                        <h1 class="menu__header__title"><%= item[0].Name %></h1>
                    </div>
                </div>
            </div>
            <div class="menu__body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <p><%= item[0].Description %></p>
                            <div class="">
                                    <span>
                                            <span style="font-size: 40px" class="float-lg-right container2"><%= item[0].Price %></span>
                                        <img style="width: 30px; height: auto ;padding :47px 0 0 0" class="float-lg-right" src="https://img.icons8.com/material-outlined/64/000000/rupee.png">
                                    </span>
                                </div>
                            <!-- <div class="">
                                <span>
                                    <img style="width: 30px; heigth: auto" src="https://img.icons8.com/material-outlined/64/000000/rupee.png">
                                    <span style="font-size: 25px"><%= item[0].Price %></span>
                                </span>
                            </div> -->
                        </div>
                        <% if(type === 'food'){ %>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><%= item[0].Category %></li>
                                </ul>
                            </div>
                        <% } %>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item"><%= item[0].DietaryPreference %></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="">
                            <span>
                                    <span style="font-size: 40px" class="float-lg-right container2"><%= item[0].Price %></span>
                                <img style="width: 30px; height: auto ;padding :47px 0" class="float-lg-right" src="https://img.icons8.com/material-outlined/64/000000/rupee.png">
                            </span>
                        </div> -->
                </div>
            </div>
        </div>
<% include ../partials/footer %>
